/* 
    Document   : jrst_app
    Created on : Jan 17, 2012, 1:34:58 AM
    Author     : mark
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/
/*
#selection-wrapper {
  overflow: auto;
}
#edit-my-textfield-wrapper {
  float:left;
}
#display_results {
  float: left;
  min-height: 15px;
  min-width: 100px;
  padding: 10px 0 0 10px;
  max-width: 280px;
}
*/

a.jrstposLink {
  padding-right: 10px;
}

.display-throbber {
  background: transparent url('/misc/throbber.gif') no-repeat right center;
}
