/* @override 
	http://irmse.ejrst.net/sites/all/themes/jrst/css/local.css
	http://dev.ejrst.net/sites/all/themes/jrst/css/local.css
*/

/* $Id: local-sample.css 6555 2010-02-24 20:21:15Z chris $ */

/****************************/
/* LOCAL CSS                */
/****************************/

/* Custom overrides of base theme for IRMSE */
a, a:link, a:visited{
	color: maroon;
}

.node .inner .links li > a{
	color: maroon;
}
.nav-group{
	background-color: #333;
}
.header-group{
	background-color: maroon;
}

#logo img {
}

.footer-inner {
	font: 1.1em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

.header-region.block, .footer-inner{
	color: silver;
}

.header-region.block a, .footer-inner a{
	color: white;
}

.header-region .view-user-meta .views-field-name span.username a{
	color: white;
}

.header-site-info.block{
	margin-bottom: 5px;
}

.primary-menu-inner ul.sf-menu a,.primary-menu-inner ul.sf-menu a:visited {
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

.contextual-search-wrapper .contextual-search-launcher, .contextual-search-processed .contextual-search-wrapper ul.contextual-search-list li a {
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

h1 {
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

h1.title{
	color: maroon;
}

h2 {
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	font-variant: small-caps;
	font-weight: bold;
}

.sidebar-last .block h2.block-title, .sidebar-first .block h2.block-title {
	font-size: 1.4em;
	background-color: #F0e0e0;
}

.sidebar-last .block .inner, .sidebar-first .block .inner {
	border-color: #a08080;
}

body {
	font-family: Georgia, "Times New Roman", Times, serif;
}

.font-size-12 {
	font-size: 85%;
}

.submitted {
	background-color: #eee;
	border-color: #a08080;
}

.footer {
	background-color: #555;
	background-image: none;
}

.contextual-search-wrapper .contextual-search-launcher, .contextual-search-processed .contextual-search-wrapper ul.contextual-search-list {
	font-size: .9em;
	height: 16px;
	padding-top: 3px;
}

.node-type-article h1 {
	font-size: 170%;
}

h1.title{
	font-size: 200%;
}

.node .inner .terms ul li, .node .inner .links ul li{
	background: none;
	padding: 0px 5px 0px 5px;
	font: .9em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

.node .inner ul{
	padding-left: 0;
}

.node .inner .terms .first{
	padding-left: 0;
}

ul.tabs.primary {
	margin-bottom: 10px;
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

#content-tabs{
	margin-bottom: 10px;
}

legend{
	font: .9em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: maroon;
}

.header-region-inner .imagecache-user_picture_meta{
	display: none;
}

.header-region-inner span.username{
	margin-bottom: 10px;
}

.slide-article-list .views-field-field-article-preprod-author-value{
	font-style: italic;
}

.slide-article-list .views-row{
	margin-top: 10px;
}

.sidebar-last .block .view-jrst-frontpage-poll .inner{
	border: none;
}

/* @override 
 *  http://irmse.ejrst.net/sites/all/themes/jrst/css/local.css
 *    http://dev.ejrst.net/sites/all/themes/jrst/css/local.css
 *    */

/* $Id: local-sample.css 6555 2010-02-24 20:21:15Z chris $ */

/****************************/
/* LOCAL CSS                */
/****************************/

/* Custom overrides of base theme for IRMSE */
a, a:link, a:visited{
          color: maroon;
  }

  .node .inner .links li > a{
            color: maroon;
    }
    .nav-group{
              background-color: #333;
      }
      .header-group{
                background-color: maroon;
        }

        #logo img {
        }

        .header-region.block{
                  color: silver;
          }

          .header-region.block a{
                    color: white;
            }

            .header-region .view-user-meta .views-field-name span.username a{
                      color: white;
              }

              .header-site-info.block{
                        margin-bottom: 5px;
                }

                .primary-menu-inner ul.sf-menu a,.primary-menu-inner ul.sf-menu a:visited {
                          font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
                  }

                  .contextual-search-wrapper .contextual-search-launcher, .contextual-search-processed .contextual-search-wrapper ul.contextual-search-list li a {
                            font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
                    }

                    h1 {
                              font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
                      }

                      h1.title{
                                color: maroon;
                        }

                        h2 {
                                  font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
                                    font-variant: small-caps;
                                      font-weight: bold;
                              }

                              .sidebar-last .block h2.block-title, .sidebar-first .block h2.block-title {
                                        font-size: 1.4em;
                                          background-color: #F0e0e0;
                                  }

                                  .sidebar-last .block .inner, .sidebar-first .block .inner {
                                            border-color: #a08080;
                                    }

                                    body {
                                              font-family: Georgia, "Times New Roman", Times, serif;
                                      }

                                      .font-size-12 {
                                                font-size: 85%;
                                        }

                                        .submitted {
                                                  background-color: #eee;
                                                    border-color: #a08080;
                                            }

                                            .footer {
                                                      background-color: #555;
                                                        background-image: none;
                                                }

                                                .contextual-search-wrapper .contextual-search-launcher, .contextual-search-processed .contextual-search-wrapper ul.contextual-search-list {
                                                          font-size: .9em;
                                                            height: 16px;
                                                              padding-top: 3px;
                                                      }

                                                      .node-type-article h1 {
                                                                font-size: 180%;
                                                        }

                                                        .node .inner .terms ul li, .node .inner .links ul li{
                                                                  background: none;
                                                                    padding: 0px 5px 0px 5px;
                                                                      font: .9em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
                                                              }

                                                              .node .inner ul{
                                                                        padding-left: 0;
                                                                }

                                                                .node .inner .terms .first{
                                                                          padding-left: 0;
                                                                  }

                                                                  ul.tabs.primary, #content-tabs{
                                                                            margin-bottom: 10px;
                                                                    }

                                                                    legend{
                                                                              font: .9em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
                                                                                color: maroon;
                                                                        }

                                                                        .header-region-inner .imagecache-user_picture_meta{
                                                                                  display: none;
                                                                          }

                                                                          .header-region-inner span.username{
                                                                                    margin-bottom: 10px;
                                                                            }

                                                                            /* Default slideshows */
                                                                            /*#view-id-frontpage_jrst-page_1 h2.block-title {
                                                                             *  margin-top: 0;
                                                                             *  }
                                                                             *
                                                                             *  #view-id-frontpage_jrst-page_1 .content .views_slideshow_slide{
                                                                             *    width: 100%;
                                                                             *    }
                                                                             *    #view-id-frontpage_jrst-page_1 .content .views-row .views-field-field-group-image-fid{
                                                                             *      width: 21%;
                                                                             *      }
                                                                             *
                                                                             *      #view-id-frontpage_jrst-page_1 .views-slideshow-controls-top {
                                                                             *        float: right;
                                                                             *          margin-top: -30px;
                                                                             *          }*/
#view-id-frontpage_jrst-page_1 a.views_slideshow_previous,
#view-id-frontpage_jrst-page_1 a.views_slideshow_next,
#view-id-frontpage_jrst-page_1 a.views_slideshow_pause,
#view-id-frontpage_jrst-page_1 a.views_slideshow_play {
  background: transparent url(../images/slideshow-controls.png) no-repeat 0 0;
  text-indent: -9999px;
  text-align: left;
  width: 20px;
  margin: 0 0 10px 0;
  height: 14px;
  display: block;
  float: left;
}

#view-id-frontpage_jrst-page_1 a.views_slideshow_next{
  background-position: -60px 0;
}
#view-id-frontpage_jrst-page_1 a.views_slideshow_pause{
  background-position: -20px 0;
  width: 16px;
  margin: 0 6px;
}
#view-id-frontpage_jrst-page_1 a.views_slideshow_play {
  background-position: -40px 0;
  width: 14px;
  margin: 0 7px;
}

#view-id-frontpage_jrst-page_1 .views-field-field-issue-cover-fid {
  display:inline;
  float:left;
  margin-right:10px;
}

#view-id-frontpage_jrst-page_1 .views-field-title {
  font-size:2em;
}

#view-id-frontpage_jrst-page_1 .views-slideshow-controls-bottom {
  float:right;
}
#view-id-frontpage_jrst-page_1 .view-frontpage-issue-showcase .views-field-title {
  font-size:1em;
}
#view-id-frontpage_jrst-page_1 .view-frontpage-issue-showcase .views-row::after {
  clear: none;
}

/* Issue Page Theming */
.content .node-type-issue .field-field-issue-cover {
  float:right;
}

.content .node-type-issue .view-article-by-issue {
  display: inline;
}

.content .node-type-issue li.views-row::after {
  clear: none !important;
}

/* Comment cleanup */

#comments .comment {
  border: 1px solid maroon;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
}

#comments .comment .links {
  float:right;
  margin-bottom: 3px;
  margin-right: 5px;
  margin-top: 7px;
}

/* User Login/Register Link */
#block-jrst_custom-jrst_user_login {
  margin-top: 40px;
}

