

/****************************/
/* LOCAL CSS                */
/****************************/

/* Custom overrides of base theme for IRMSE */
a, a:link, a:visited{
	color: maroon;
}

.node .inner .links li > a{
	color: maroon;
}
.nav-group{
	background-color: #333;
}
.header-group{
	background-color: maroon;
}

#logo img {
}

.footer-inner {
	font: 1.1em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

.header-region.block, .footer-inner{
	color: silver;
}

.header-region.block a, .footer-inner a, .footer-inner a:link, .footer-inner a:visited{
	color: white;
}

.header-region .view-user-meta .views-field-name span.username a{
	color: white;
}

.header-site-info.block{
	margin-bottom: 5px;
}

.primary-menu-inner ul.sf-menu a,.primary-menu-inner ul.sf-menu a:visited {
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

.contextual-search-wrapper .contextual-search-launcher, .contextual-search-processed .contextual-search-wrapper ul.contextual-search-list li a {
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

h1 {
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

h1.title{
	color: maroon;
}

h2 {
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	font-variant: small-caps;
	font-weight: bold;
}

.sidebar-last .block h2.block-title, .sidebar-first .block h2.block-title {
	font-size: 1.4em;
	background-color: #d0d0d0;
}

.sidebar-last .block .inner, .sidebar-first .block .inner,
.view-frontpage-jrst-notices.highlighted {
	border-color: #a08080;
}

body {
	font-family: Georgia, "Times New Roman", Times, serif;
}

.font-size-12 {
	font-size: 85%;
}

.submitted {
	background-color: #eee;
	border-color: #a08080;
}

.footer {
	background-color: #555;
	background-image: none;
}

.contextual-search-wrapper .contextual-search-launcher, .contextual-search-processed .contextual-search-wrapper ul.contextual-search-list {
	font-size: .9em;
	height: 16px;
	padding-top: 3px;
	z-index: 30;
	background-color: #444;
}
.contextual-search-wrapper .contextual-search-launcher:hover,
.contextual-search-processed .contextual-search-wrapper ul.contextual-search-list li a:hover {
	background-color: #666;
}
.contextual-search-processed .contextual-search-wrapper ul.contextual-search-list li a {
	z-index: 30;
}

.node-type-article h1 {
	font-size: 170%;
}

h1.title{
	font-size: 200%;
}


/* Menu */
#primary-menu-inner .sf-menu > .first a {
  background: url("/sites/all/themes/jrst/images/icons/home_new.png") no-repeat center;
  text-indent: -9999px;
  height: 21px;
  width: 21px;
}

#secondary-menu {
	float: left;
	color: black;
}


.node .inner .terms ul li, .node .inner .links ul li{
	background: none;
	padding: 0px 5px 0px 5px;
	font: .9em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

.node .inner ul{
	padding-left: 0;
}

.node .inner .terms .first{
	padding-left: 0;
}

ul.tabs.primary {
	margin-bottom: 10px;
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

#content-tabs{
	margin-bottom: 10px;
}

legend{
	font: .9em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: maroon;
}

.header-region-inner .imagecache-user_picture_meta{
	display: none;
}

.header-region-inner span.username{
	margin-bottom: 10px;
}

.slide-article-list .views-field-field-article-preprod-author-value{
	font-style: italic;
}

.slide-article-list .views-row{
	margin-top: 10px;
}

.sidebar-last .block .view-jrst-frontpage-poll .inner{
	border: none;
}

#view-id-frontpage_jrst-page_1 a.views_slideshow_previous,
#view-id-frontpage_jrst-page_1 a.views_slideshow_next,
#view-id-frontpage_jrst-page_1 a.views_slideshow_pause,
#view-id-frontpage_jrst-page_1 a.views_slideshow_play {
  background: transparent url(../images/slideshow-controls.png) no-repeat 0 0;
  text-indent: -9999px;
  text-align: left;
  width: 20px;
  margin: 0 0 10px 0;
  height: 14px;
  display: block;
  float: left;
}

#view-id-frontpage_jrst-page_1 a.views_slideshow_next{
  background-position: -60px 0;
}
#view-id-frontpage_jrst-page_1 a.views_slideshow_pause{
  background-position: -20px 0;
  width: 16px;
  margin: 0 6px;
}
#view-id-frontpage_jrst-page_1 a.views_slideshow_play {
  background-position: -40px 0;
  width: 14px;
  margin: 0 7px;
}

#view-id-frontpage_jrst-page_1 .views-field-field-issue-cover-fid {
  display:inline;
  float:left;
  margin-right:10px;
}

#view-id-frontpage_jrst-page_1 .views-slideshow-controls-bottom {
  float:right;
}

#view-id-frontpage_jrst-page_1 .view-frontpage-issue-showcase .views-field-title {
  font-size:1em;
}

#view-id-frontpage_jrst-page_1 .view-frontpage-issue-showcase .views-row::after {
  clear: none;
}

/* Issue Page Theming */
.content .node-type-issue .field-field-issue-cover {
  float:right;
}

.content .node-type-issue .view-article-by-issue {
  display: inline;
}

.content .node-type-issue li.views-row::after {
  clear: none !important;
}

/* Comment cleanup */

#comments .comment {
  border: 1px solid maroon;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
}

#comments .comment .links {
  float:right;
  margin-bottom: 3px;
  margin-right: 5px;
  margin-top: 7px;
}

/* User Login/Register Link */
#block-jrst_custom-jrst_user_login {
  /*margin-top: 40px;*/
}

/* @group User Meta - logout/account links in header w/ profile pic */

.view-jrst-user-meta {
  float: right;
  width: 180px;
  font-family: "Helvetical Neue",Helvetica,Arial,Sans-serif;
  margin-top: 10px;
}

.view-jrst-user-meta .views-field-name span {
  display: block;
  font-size: 1.1em;
  line-height: 1.2em;
  text-align: right;
}

.view-jrst-user-meta .views-field-name span.username a {
  color: #69c;
  font-weight: bold;
}

.view-jrst-user-meta .views-field-name span.full-name {
  font-size: .9em;
  font-style: normal;
}

.view-jrst-user-meta .views-field-picture {
  float: right;
  margin: 0 0 2px 12px;
}

.view-jrst-user-meta .views-field-nothing,
.view-jrst-user-meta .views-field-nothing-1 {
  float: right;
  margin-bottom: 2px;
  margin-top: 2px;
  padding: 0;
}

.view-jrst-user-meta .views-field-nothing a,
.view-jrst-user-meta .views-field-nothing-1 a {
  color: #333;
  font-size: 11px;
  line-height: 13px;
  padding: 0;
}

.view-jrst-user-meta .views-field-nothing {
  border-left: 1px solid #666;
  clear: both;
  margin-left: 8px;
  padding-left: 8px;
}

.view-jrst-user-meta .views-field-name {
  font-size: .9em;
  line-height: 1em;
}

.view-jrst-user-meta .views-field-name a {
  color: #333;
}

.view-jrst-user-meta .views-field-nothing {
  margin-right: 6px;
  padding-right: 6px;
}

.view-jrst-user-meta .views-field-points {
  clear: both;
  text-align: right;
}

.view-jrst-user-meta .views-row span.views-field-picture {
  display: block;
  float: right;
}

/*user meta block*/

#block-views-jrst_user_meta-block_1 {
	margin-top: 12px;
}

.view-jrst-user-meta .views-field-name span {
  font-style: italic;
  margin: 0;
	padding: 0 10px 0 0;
	width: 100%;
}

/* @end */

/* User_meta view top banner */
.view-jrst-user-meta .views-field-jrst-feedback,
.view-jrst-user-meta .views-field-jrst-view-issues {
  float: right;
  margin-bottom: 2px;
  margin-top: 2px;
  padding: 0;
}

.view-jrst-user-meta .views-field-jrst-feedback a,
.view-jrst-user-meta .views-field-jrst-view-issues a {
  color: #333;
  font-size: 11px;
  line-height: 13px;
  padding: 0;
}

.view-jrst-user-meta .views-field-nothing,
.view-jrst-user-meta .views-field-nothing-1,
.view-jrst-user-meta .views-field-jrst-feedback {
  border-left: 1px solid #666;
  margin-left: 8px;
  padding-left: 8px;
}

.view-jrst-user-meta .views-field-nothing,
.view-jrst-user-meta .views-field-nothing-1,
.view-jrst-user-meta .views-field-jrst-feedback {
  /*margin-right: 6px;
  padding-right: 6px;*/
}

/* @end */


#view-id-frontpage_jrst-page_1 .views-field-title {
  font-size:2em;
}
#view-id-taxonomy_term-page h2.title a{
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	font-size: .8em;
}

.full-node.node-type-discussion{
	margin-bottom: 5px;
}
.node-type-discussion .submitted{
	float: left;
	margin-right: 10px;
}

.comments-header{
	margin: 5px ;
}

.comment .title{
	margin-bottom: 0px;
	display: none;
}

.comment-date{
	margin-left: 10px;
}

.comment p{
	margin-top: 30px;
	margin-bottom: 0;
}

.comments div.comment {
	margin: 5px 0;
	padding-bottom: 0;
}

.comments h2{
	font-size: 1.3em;
	margin-bottom: 5px;
}

.node-type-discussion #comment-form #edit-subject-wrapper{
	margin-bottom: 0px;
	display: none;
}

#pid-groups div.tags{
	display: none;
}

.view-frontpage-jrst-notices.highlighted {
  background: orange;
}

#block-commons_profile-image_links .picture {
  overflow: hidden;
}


.article-page .item-list ul li.views-row-first{
	background: none;
	margin-top: 40px;
}

.article-page .item-list ul li{
	width: 90%;
	margin-left: 15px;
}

.article-page .imagecache-issue_cover_small{
	float: left;
	margin-right: 15px;
	margin-bottom: 5px;
}

.node-type-issue img{
	float: right;
}

.node-type-issue .item-list ul li{
	background: none;
	margin-top: 10px;
}

.node-type-issue .view-title{
	font: bold 1.3em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	text-align: center;
}

#block-views-jrst_app_pos_info-block_1 .inner {
  border: 0px;
}

#block-views-positions_open-block_1 .content {
  height: 200px;
  overflow-y: scroll;
}

.view-jrst-groups-main-listing img{
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
}

.view-jrst-groups-main-listing .title{
	font-weight: bold;
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	
}

.view-jrst-groups-main-listing .description p{
	margin-top: 0;
}

.view-jrst-groups-main-listing .views-row{
	margin-bottom: 10px;
	border-bottom: 1px solid gray;
}

.view-frontpage-jrst-notices.highlighted{
	padding: 0;
	background-color: silver;
	border: 2px solid maroon;
}

.view-frontpage-jrst-notices.highlighted p{
	margin: 2px;
}

.view-frontpage-jrst-notices.highlighted .node-type-notice{
	margin: 2px;
}

.view-frontpage-jrst-notices.highlighted h2{
	font-size: 1.3em;
}